<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>

    <body>
        <%- include ('./partials/header'); %>
        <div class="central">

            <h1>Le site web n°1 en streaming </h1>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates tempora labore dicta modi, cupiditate ducimus quisquam non cum! Repellat, rerum?</p>
            </div>
        </div>
        <%- include ('./partials/footer'); %>
    </body>

</html>