<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>

    <body>
        <%- include ('./partials/header'); %>
        <h1>Nom du film</h1>
        <div>
            <p><%= movieId %></p>
        </div>
        <%- include ('./partials/footer'); %>
    </body>

</html>